repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.4.0
  hooks:
    - id: check-ast
      language_version: python3.8
    - id: check-merge-conflict
    - id: check-json
    - id: check-yaml
    - id: flake8
      args: ['--config=api/.flake8']
      language_version: python3.8
- repo: https://github.com/ambv/black
  rev: 19.10b0
  hooks:
    - id: black
      language_version: python3.8
      files: ^api/.*\.py$
- repo: https://github.com/Lucas-C/pre-commit-hooks-bandit
  rev: v1.0.4
  hooks:
    - id: python-bandit-vulnerability-check
      args: [-l, --recursive, -x, tests]
      files: ^api/.*\.py$
- repo: https://github.com/prettier/prettier
  rev: 1.19.1
  hooks:
    - id: prettier
      files: ^web/.*\.(ts|tsx|js|css|html|json)$
      args: ['--config=web/.prettierrc.js']
- repo: local
  hooks:
    - id: web tests
      name: run web tests
      entry: sh -c "cd web && CI=true npm run coverage"
      language: system
      files: ^web/.*\.(test.ts|test.tsx|test.js)$
