---
language: python

services:
  - docker

stages:
  - build
  - deploy

jobs:
  include:
    - stage: build
      name: "Build API"
      script: docker build ./api/
    - stage: build
      name: "Build Web"
      script: docker build ./web/
    - stage: tests
      name: "BDD Tests"
      script: docker-compose -f docker-compose.yml -f docker-compose.ci.yml run --rm api behave
    - stage: tests
      name: "Web Tests"
      script: docker-compose -f docker-compose.yml run --no-deps --rm -e CI=true web yarn test
    - stage: deploy
      name: "Reset database"
      script:
        - docker-compose -f docker-compose.azure.yml run -e MONGO_AZURE_URI api /code/reset-database.sh
      only:
        - master
