version: "3.4"

services:
  dmss:
    image: datamodelingtool.azurecr.io/dmss:latest
    restart: unless-stopped
    environment:
      ENVIRONMENT: local
      MONGO_INITDB_ROOT_USERNAME: maf
      MONGO_INITDB_ROOT_PASSWORD: maf
      SECRET_KEY: sg9aeUM5i1JO4gNN8fQadokJa3_gXQMLBjSGGYcfscs= # Don't reuse this in production...
    depends_on:
      - db

  db:
    image: mongo:3.4
    command: mongod --quiet
    environment:
      MONGO_INITDB_ROOT_USERNAME: maf
      MONGO_INITDB_ROOT_PASSWORD: maf

  api:
    build:
      context: ./api
    image: datamodelingtool.azurecr.io/dmt/api
    restart: unless-stopped
    environment:
      ENVIRONMENT: azure
      JOB_SERVICE_ENABLED: 1
      SCHEDULER_ENVS_TO_EXPORT: "PUBLIC_DMSS_API,SIMA_LICENSE"
      SCHEDULER_REDIS_HOST: job-store
      SCHEDULER_REDIS_PORT: 6379
      SCHEDULER_REDIS_SSL: "false"
      MONGO_INITDB_ROOT_USERNAME: maf
      MONGO_INITDB_ROOT_PASSWORD: maf
      APPLICATION_HOME: /code/src/home
      API_ENV: development
      DMSS_API: http://dmss:5000
    depends_on:
      - job-store
    ports:
      - "5000:5000"


  job-store:
    image: redis:6.2.5-alpine
    command: "redis-server --save 30 1 --loglevel notice"
    #    volumes:
    #     - ./redis_data:/data
