version: "3.4"

services:
  nginx:
    build: ./nginx/local
    ports:
      - "80:80"
    depends_on:
      - web
      - api
  api:
    build:
      target: development
    volumes:
      - ./api/:/code
    environment:
      FLASK_DEBUG: 1
      ENVIRONMENT: local
      MONGO_AZURE_URI: ${MONGO_AZURE_URI}
    ports:
      - "5000:5000"

  web:
    build:
      target: dev
    volumes:
      - ./web/src:/code/src
    environment:
      - NODE_ENV=development

  db:
    volumes:
      - ./data/db:/data/db
    ports:
      - "27017:27017"

  db-ui:
    depends_on:
      - db
    image: mongo-express:0.49
    ports:
      - "8080:8081"
    environment:
      ME_CONFIG_MONGODB_SERVER: db
      ME_CONFIG_MONGODB_ADMINUSERNAME: maf
      ME_CONFIG_MONGODB_ADMINPASSWORD: maf
      ME_CONFIG_MONGODB_ENABLE_ADMIN: "true"

