upstreams = [
    "http://web:80/"
]
cookie_secure = true
email_domains = [
    "*"
]
provider = "azure"
http_address = "0.0.0.0:8081"
redirect_url = "https://oauth-proxy-data-modelling-tool-feature.playground-4.playground.radix.equinor.com/oauth2/callback"
#redirect_url = "https://data-modelling-tool.app.playground.radix.equinor.com/oauth2/callback"
login_url = "https://login.microsoftonline.com/common/oauth2/authorize"
redeem_url = "https://login.microsoftonline.com/common/oauth2/token"
