html {
  font-size: 16px;
}
body {
  background: whitesmoke;
}

.lm_tab {
  height: 40px !important;
  line-height: 40px;
  background: white !important;
}

.lm_close_tab {
  height: 35px !important;
}

.lm_controls {
  top: 13px;
}

.lm_content {
  background: white !important;
  overflow: auto !important;
}
.lm_goldenlayout {
  background: white !important;
}

@font-face {
  font-family: 'Equinor-Bold';
  src: url('fonts/equinor/Equinor-Bold.woff2') format('woff2'),
    url('fonts/equinor/Equinor-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Equinor-BoldItalic';
  src: url('fonts/equinor/Equinor-BoldItalic.woff2') format('woff2'),
    url('fonts/equinor/Equinor-BoldItalic.woff') format('woff');
}

@font-face {
  font-family: 'Equinor-Italic';
  src: url('fonts/equinor/Equinor-Italic.woff2') format('woff2'),
    url('fonts/equinor/Equinor-Italic.woff') format('woff');
}

@font-face {
  font-family: 'Equinor-Light';
  src: url('fonts/equinor/Equinor-Light.woff2') format('woff2'),
    url('fonts/equinor/Equinor-Light.woff') format('woff');
}

@font-face {
  font-family: 'Equinor-LightItalic';
  src: url('fonts/equinor/Equinor-LightItalic.woff2') format('woff2'),
    url('fonts/equinor/Equinor-LightItalic.woff') format('woff');
}

@font-face {
  font-family: 'Equinor-Medium';
  src: url('fonts/equinor/Equinor-Medium.woff2') format('woff2'),
    url('fonts/equinor/Equinor-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Equinor-MediumItalic';
  src: url('fonts/equinor/Equinor-MediumItalic.woff2') format('woff2'),
    url('fonts/equinor/Equinor-MediumItalic.woff') format('woff');
}

@font-face {
  font-family: 'Equinor-Regular';
  src: url('fonts/equinor/Equinor-Regular.woff2') format('woff2'),
    url('fonts/equinor/Equinor-Regular.woff') format('woff');
}
