[flake8]
exclude =
    .venv,
    __pycache__
    src/tests
    tests
statistics = True
show-source = True
max-line-length = 119
per-file-ignores =
    api/utils/debugging.py:E302,
    utils/debugging.py:E302
max-complexity = 19