[tool.poetry]
name = "api"
version = "0.1.0"
description = "API for data-modelling-tool"
authors = ["Stig Ofstad <stoo@equinor.com>","Christoffer","Eirik"]
license = "MIT"

[tool.poetry.dependencies]
python = "3.7.*"
flask = "^1.0"
werkzeug = "^0.15.4"
flask-restful = "^0.3.7"
pymongo = "^3.8"

[tool.poetry.dev-dependencies]
pydevd = "^1.6"
safety = "^1.8"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
