*.config.js
*.config.base.js
*.test.tsx
/packages/plugins/simpos-ui/src/*
/packages/plugins/simos-ui/src/*
/packages/plugins/marmo-ui/src/*
/packages/home/src/plugins.js
/packages/plugins/form/src/test-utils.tsx
dist